footer {
	text-align: center;
	margin-top: auto;
}

a .fab {
	color: black !important;
}

code {
	background-color: black;
	color: white;
	padding: 5px;
	text-align: center;
	border: 1px solid black;
	border-radius: 3px;
}