footer {
	text-align: center;
	margin-top: auto;
}

a .fab {
	color: black !important;
}

code {
	background-color: black;
	color: white;
	padding: 5px;
	text-align: center;
	border: 1px solid black;
	border-radius: 3px;
}

hr {
	width: 83.33333333%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}